<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= user.role %> Profile</title>
    <link rel="stylesheet" href="/stylesheets/dashboard/profile.css" />
    <link rel="icon" type="image/png" href="/favicon.png">
  </head>

  <body>
    <%- include('../partials/header') %> 

    <div class="container">
      <h1><%= user.role %> Profile</h1>

      <div class="profile-card">
        <a href="/profile/editProfile" class="edit-icon" title="Editar Perfil">
          <i class="fas fa-pen"></i>
        </a>
        <img src="<%= user.profilePic ? '/uploads/' + user.profilePic : '/images/default-user.png' %>" alt="Foto de perfil"/>           
        <div class="profile-name"><%= user.name %></div>
        <div class="profile-email"><%= user.email %></div>

        <div class="info-box">
          <h3>Personal informations</h3>
          <div class="info-item">
            <i class="fas fa-user-tag"></i>
            <%= user.role==='Client' ? 'Client' : user.role==='Admin' ?
            'Admin' : 'Manager' %>
          </div>

          <% if (user.role==='Client' ) { %>
          <div class="info-item">
            <i class="fas fa-phone"></i>
            <%= user.clienteTelemovel || 'Mobile phone not provided' %>
          </div>
          <div class="info-item">
            <i class="fas fa-id-card"></i>
            <%= user.clienteNif || 'Nif not provided' %>
          </div>
          <div class="info-item">
            <i class="fas fa-home"></i>
            <%= user.address || 'Address not provided' %>
          </div>

          <% } else if (user.role==='Manager' ) { %>
          <div class="info-item">
            <i class="fas fa-phone"></i>
            <%= user.managerTelemovel || 'Mobile phone not provided' %>
          </div>
          <div class="info-item">
            <i class="fas fa-store"></i>
            Total Restaurants: <%= totalRestaurants || 0 %>
          </div>
          <div class="info-item">
            <i class="fas fa-check-circle"></i>
            Approved Restaurants: <%= approvedRestaurants || 0 %>
          </div>
          <div class="info-item">
            <i class="fas fa-times-circle"></i>
            Not Approved Restaurants: <%= notApprovedRestaurants || 0 %>
          </div>

          <% } else if (user.role==='Admin' ) { %>
          <div class="info-item">
            <i class="fas fa-phone"></i>
            <%= user.managerTelemovel || 'Mobile phone not provided' %>
          </div>
          <div class="info-item">
            <i class="fas fa-home"></i>
            <%= user.address || 'Address not provided' %>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
